.profile {
  font-family: Handlee;
  padding-top: 0px;
  .profile-picture {
    // position: absolute;
    // top: 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .profile-name {
    margin-top: 20px;
  }
}
#video {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.photo-preview {
  width: 275px;
}
.camera-popup {
  width: 355px;
}
.profile-pic {
  width: 100%;
}
.bio {
  height: 200px;
  margin-top: 10px;
}
.camera-popup button {
  height: 24px;
  margin-top: 20px;
}

