<ion-modal-view ng-controller="NewReviewsCtrl as reviews">
  <ion-header-bar>
    <h1 class="title">Review this Lover/Sucker</h1>
      <div class="buttons">
        <button class="button button-clear button-positive" ng-click="reviews.hideNewReviewsModal()">Cancel</button>
    </div>
  </ion-header-bar>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Choose your words very, very, very carefully..." class="review"></textarea>
      </label>

      <button class="button button-block button-assertive" ng-click="reviews.newReview(user._id)">Submit</button>
    </div>



</ion-modal-view>
