<ion-modal-view ng-controller="NewReviewsCtrl as review">
  <ion-header-bar>
    <h1 class="title">Review this Lover/Sucker</h1>
      <div class="buttons">
        <button class="button button-clear button-positive" ng-click="review.hideNewReviewsModal()">Cancel</button>
    </div>
  </ion-header-bar>
    <div class="list">
      <label class="item item-input">
        <textarea placeholder="Choose your words very, very, very carefully..." class="review" ng-model="review.review"></textarea>
      </label>

    </div>
      <button class="button button-block button-assertive" ng-click="review.sendReview()">Submit</button>
      <!-- <div ng-click="reviews.newReview();">asdfasdfasdf</div> -->



</ion-modal-view>
