<ion-view title="Profile">
  <ion-nav-buttons side="right">
    <button ng-click="profile.updateName(); profile.updateAge(); profile.updateGender(); profile.updateBio();" ng-disabled="!profile.name || profile.name.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>

  <ion-content class="profile">

    <div>
        <img class="profile-pic" ng-src="{{currentUser.profile.picture}}">
    </div>
  <!-- adding button for adding/editing user profile image -->
    <a class="profile-picture icon-left ion-ios-camera button button-outline button-assertive" ng-click="profile.updatePicture()">Pic Me!
     <!--  <div ng-if="profile.currentUser.profile.picture">
        <img ng-src="{{ profile.currentUser.profile.picture }}" alt="profile picture">
        edit
      </div>
      <div ng-if="!profile.picture" class="upload-placehoder">

      </div> -->
    </a>
<!--
    <div class="instructions">
      Enter your info!
    </div> -->

<!-- name -->
    <div class="list profile-name">
      <label class="item item-input">
        <span class="input-label">Name:</span>
        <input ng-model="profile.name" on-return="profile.updateName()" type="text" placeholder="Your name">
      </label>

<!-- age -->

      <label class="item item-input">
      <span class="input-label">Age:</span>
        <input ng-model="profile.age" on-return="profile.updateAge()" type="text" placeholder="Your age">
      </label>

<!-- gender -->

      <label class="item item-input">
      <span class="input-label">Gender:</span>
        <input ng-model="profile.gender" on-return="profile.updateGender()" type="text" placeholder="Your gender">
      </label>

<!-- Bio -->

      <label class="item item-input">
        <!-- <input ng-model="profile.bio" on-return="profile.updateBio()"> -->
        <textarea class="bio" ng-model="profile.bio" on-return="profile.updateBio()" placeholder="Your Bio, share yoself~"></textarea>
      </label>
    </div>



  </ion-content>
</ion-view>
